{
  "extends": "airbnb",
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "react/prop-types": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "it": true,
    "window": true,
    "document": true,
  }
}
